.container{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    gap: 15px;
    align-items: center;
}

.esquerda{
    background-color: #2b3566;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 50%;
    border-radius: 20px;
}

p{
    font-size: 25px;
}