.container {
    display: flex;
    flex-direction: column;
}
.roominfo{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #2b3566;
    display: flex;
    justify-content: center;
    gap: 20%;
}