.container {
    padding:0 auto;
    gap: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    max-width: 100%;
}
.links{
    margin-left: 35%;
    padding: 5px;
    text-decoration: none;
}